html {
	scroll-behavior: smooth;
}

/* Thin Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
	border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #888 #f7f7f7;
}

/* Select2 */
.select2-selection__arrow {
	margin-top: 7px;
	margin-right: 10px;
}

/* Import student table */
table#student-to-import thead th.fixed1 {
	min-width: 200px;
	max-width: 200px;
}

table#student-to-import thead th.fixed2 {
	min-width: 150px;
	max-width: 150px;
}

table#student-to-import tbody td.fixed1 {
	min-width: 200px;
	max-width: 200px;
	word-wrap: break-word;
}

table#student-to-import tbody td.fixed2 {
	min-width: 150px;
	max-width: 150px;
	word-wrap: break-word;
}

/* Template table */
table.template-tables thead tr th.template-heads {
	background-color: #000C48;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	font-weight: bold;
	color: white;
}

table.template-tables tbody tr td.template-bodies {
	background-color: #283785;

	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;

	text-align: center;
	color: white;
	word-wrap: break-word;
}
