html {
	scroll-behavior: smooth;
}

/* Thin Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
	border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #888 #f7f7f7;
}

/* Select2 */
.select2-container .select2-selection {
	display: flex !important;
	align-items: center !important;
	border: solid 3px rgb(148 163 184) !important;
	height: 2.9rem !important;
	border-radius: 1rem !important;
	padding-left: 11px;
	padding-right: 11px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.75rem;
	margin-top: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	/* color: rgb(30 64 175);
	font-weight: 600; */
	/* margin-left: 12px; */
}

body {
	background: white;
	font-family: "Geologica";
}

/* Ngilangin file attachment */
trix-toolbar [data-trix-button-group="file-tools"] {
	display: none !important;
	border: none !important;
}

trix-toolbar [data-trix-action="attachFiles"] {
    display: none !important;
	border: none !important;
}

/* Targeting unordered lists specifically within Trix editor */
trix-editor ul {
	list-style-type: disc; /* Use the disc style for unordered lists */
	padding-left: 1.5em; /* Adjust the padding for proper indentation */
}

/* Targeting ordered lists specifically within Trix editor */
trix-editor ol {
	list-style-type: decimal; /* Use decimal style for ordered lists */
	padding-left: 1.5em; /* Adjust the padding for proper indentation */
}

/* Targeting list items within Trix editor */
trix-editor ul li,
trix-editor ol li {
	margin-bottom: 0.5em; /* Adjust spacing between list items */
}

trix-editor a {
	font-weight: bold;
	color: rgb(30 58 138);
}

div.announcementContent ul {
	list-style-type: disc; /* Use the disc style for unordered lists */
	padding-left: 1.5em; /* Adjust the padding for proper indentation */
}

/* Targeting ordered lists specifically within Trix editor */
div.announcementContent ol {
	list-style-type: decimal; /* Use decimal style for ordered lists */
	padding-left: 1.5em; /* Adjust the padding for proper indentation */
}

/* Targeting list items within Trix editor */
div.announcementContent ul li,
div.announcementContent ol li {
	margin-bottom: 0.5em; /* Adjust spacing between list items */
}

div.announcementContent a {
	font-weight: bold;
	color: rgb(30 58 138);
}

div.announcementContent a:hover {
	text-decoration: underline;
}

.oneperthree {
	width: 32%;
}

/* Custom checkbox */
input[type='checkbox'],[type='radio'] {
	-webkit-appearance: none;
		-moz-appearance: none;
			appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
			color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
		-moz-user-select: none;
			user-select: none;
	flex-shrink: 0;
	color: #1DB9CF;
	background-color: #fff;
	border-color: rgb(148, 163, 184);
	border-width: 2px;
	--tw-shadow: 0 0 #0000;
	cursor: pointer;
}

input[type='checkbox'] {
	border-radius: 2px;
}

input[type='radio'] {
	border-radius: 100%;
}

input[type='checkbox']:checked,input[type='radio']:checked {
	border-color: transparent;
	background-color: #1DB9CF;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

input[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

input[type='radio']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

input[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
	border-color: transparent;
	background-color: #1DB9CF;
}

input[type='checkbox']:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

input[type='checkbox']:indeterminate:hover,input[type='checkbox']:indeterminate:focus {
	border-color: transparent;
	background-color: currentColor;
}

.dropdown-menu {
	/* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
	backdrop-filter: blur(15px) !important;
	background-color: rgb(255, 255, 255, 0.8) !important;
}

@media screen and (max-width: 1280px){
	.oneperthree {
		width: 47%;
	}
}

@media screen and (max-width: 768px){
	.oneperthree {
		width: 100%;
	}
}
